<form [formGroup]="personasForm" autocomplete="off">
  <mat-form-field  class="example-full-width">
    <mat-label>Primer Apellido</mat-label>
    <input formControlName="primerApellido" matInput   placeholder="Primer Apellido">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="filtarPersona()">Buscar</button>
  <button mat-raised-button color="primary" [@derAIzAnimation]  *ngIf="filtrado" (click)="quitarFiltros()">Borrar Filtro</button>
</form>
<div  [@derAIzAnimation] >
<table matTableExporter  mat-table [dataSource]="dataSource" #exporter="matTableExporter"  class="mat-elevation-z8">


  <ng-container matColumnDef="primernombre">
    <th mat-header-cell *matHeaderCellDef> Primer Nombre</th>
    <td mat-cell *matCellDef="let element"> {{element.primernombre}} </td>
  </ng-container>


  <ng-container matColumnDef="segundnombre">
    <th style="min-width:200px" mat-header-cell *matHeaderCellDef> Segundo Nombre </th>
    <td style="min-width:200px" mat-cell *matCellDef="let element"> {{element.segundnombre}} </td>
  </ng-container>


  <ng-container matColumnDef="primerapellido">
    <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.primerapellido}} </td>
  </ng-container>


  <ng-container matColumnDef="segundoapellido">
    <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.segundoapellido}} </td>
  </ng-container>

  <ng-container matColumnDef="ncelular">
    <th mat-header-cell *matHeaderCellDef> N Celular. </th>
    <td mat-cell *matCellDef="let element"> {{element.ncelular}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
<mat-paginator class="matselect" [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons></mat-paginator>



<button mat-raised-button color="primary" (click)="exporter.exportTable('xlsx',{fileName:'pasajeros_data'})"> <i class="fa fa-file-excel"></i>Excel</button>
<button mat-raised-button color="primary" (click)="exporter.exportTable('csv',{fileName:'pasajeros_data'})">CSV</button>
<button mat-raised-button color="primary" (click)="exporter.exportTable('json',{fileName:'pasajeros_data'})">JSON</button>
<button mat-raised-button color="primary" (click)="exporter.exportTable('txt',{fileName:'pasajeros_data'})">TEXT</button>



